<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
  <resultMap id="BaseResultMap" type="bean.User">
    <id column="email" jdbcType="VARCHAR" property="email" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="good_sun" jdbcType="INTEGER" property="goodSun" />
    <result column="comments_sum" jdbcType="INTEGER" property="commentsSum" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>
  <sql id="Base_Column_List">
    email, head, user_name, good_sun, comments_sum, address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where email = #{email,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="bean.User">
    insert into user (email, head, user_name, 
      good_sun, comments_sum, address
      )
    values (#{email,jdbcType=VARCHAR}, #{head,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{goodSun,jdbcType=INTEGER}, #{commentsSum,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="bean.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="email != null">
        email,
      </if>
      <if test="head != null">
        head,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="goodSun != null">
        good_sun,
      </if>
      <if test="commentsSum != null">
        comments_sum,
      </if>
      <if test="address != null">
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="head != null">
        #{head,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="goodSun != null">
        #{goodSun,jdbcType=INTEGER},
      </if>
      <if test="commentsSum != null">
        #{commentsSum,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="bean.User">
    update user
    <set>
      <if test="head != null">
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="goodSun != null">
        good_sun = #{goodSun,jdbcType=INTEGER},
      </if>
      <if test="commentsSum != null">
        comments_sum = #{commentsSum,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where email = #{email,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="bean.User">
    update user
    set head = #{head,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      good_sun = #{goodSun,jdbcType=INTEGER},
      comments_sum = #{commentsSum,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR}
    where email = #{email,jdbcType=VARCHAR}
  </update>
</mapper>